{% extends "_base.html" %}
{% from 'main/common.html' import edit_field %}
{% block content %}
<div class='edit well offset 2 span8'>
    <form method='post' class="form">
        {{ form.csrf_token }}
        <legend>Add post</legend>
        <fieldset class="form-group">
        {{ edit_field(form.post_title, class="form-control") }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.post_link , class="form-control") }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.post_image , class="form-control" ) }}
        </fieldset>
        <fieldset class="form-group">

        {{ edit_field(form.post_description, class="form-control", style="height:100px;width:100%;word-break:break-word;", type="text"
                     , placeholder="place here meta data" ) }}
        </fieldset>
        <fieldset class="form-group">
       
        {{ edit_field(form.post_category, class="form-control") }}
        </fieldset>
        
        <p>
        <div class="form-actions">
            <button class = "btn btn-success" type="submit" class="btn">SAVE</button>
        </div>
        </p>
    </form>
</div>
{% endblock %}