{% extends "_base.html" %}
{% block content %}
{% if elements %}
<table class="table">
  <thead>
    <tr>
    
      <th>userid</th>
      <th>username</th>
      <th>useremail</th>
      <th>sum_amount</th>
      <th>unpaid</th>
    </tr>
  </thead>
  <tbody>

{% for item in elements  %}
<tr>
<th>{{ item.id }}</th>
<th>{{ item.name }}</th>
<th>{{ item.email }}</th>
<th>{{ item.summ }}</th>

{% endfor %}
</tr>
</tbody>
</table>
{% for item in unpaid  %}
{{ item.sumpoints }}
{% endfor %}
{% endif %}
{% endblock %}