{% extends "_base.html" %}
{% block content %}
{{rate}}
{% if combined %}
<table class="table">
  <thead>
    <tr>
    
      <th>userid</th>
      <th>username</th>
      <th>useremail</th>
      <th>total paid</th>
      <th>total unpaid points</th>
      <th>total amount</th>
    </tr>
  </thead>
  <tbody>

{% for item in combined  %}
<tr>
<th>{{ item.id }}</th>
<th>{{ item1.lastpaidon }}</th>
<th>{{ item1.email }}</th>
<th>{{ item2.trackingcount }}</th>

{% if item2.trackingcount %}
<th>{{ item2.trackingcount}} * {{rate}}</th>
{% endif %}


{% endfor %}
</tr>
</tbody>
</table>
{% endif %}
{% endblock %}