{% extends "_base.html" %}
{% block content %}
{% if apage %}
<div class="row">
{% for obj in apage.items %}
<div class="col-sm-6 top-buffer20" >
<div class="card card-block">
  <img style="width:100%;max-height:280px;border-radius: 3px;border-bottom: 8px solid #ff7268;margin-bottom: 10px;" class="card-img-top col-sm-6" data-src="{{ obj.post_image }}" src = "{{ obj.post_image }}" alt="Card image cap" >
  <div class="card-block">
    <h4 class="card-title"><b>{{ obj.post_title }}</b></h4>
    <p class="card-text">{{ obj.id }}
    {% if obj.earned_points %}
<b style="color:red;font-size: 20px;">{{ obj.earned_points }}</b>
{% endif %}
    </p>
    
    <button data-clipboard-text="52.77.127.140:5000/showpost/{{ obj.post_code }}?ref={{ ref }}" class="specialbtn btn btn-primary">COPY</button>
    <div class="fb-share-button" style="float:right;" 
  data-href="/showpost/{{ obj.post_code }}?ref={{ ref }}" 
  data-layout="button_count" 
  data-mobile-iframe="false">
  </div>
  </div>
</div>
</div>
{% endfor %}
</div>
{% if currentpageno %}
<div class="row top-buffer80">
<div class="col-md-6">
{% if currentpageno > 1 %}
<a href="/pages?page={{ currentpageno-1 }}">
<button type="button" class="btn btn-secondary custom-button-width">prev</button>
</a>
<!-- <a href="/pages?page={{ currentpageno-1 }}"><button class="btn-secondary btn">prev</button></a> -->
{% endif %}
</div>
<div class="col-md-6 text-right">
{% if currentpageno < limitpage %}
<a href="/pages?page={{ currentpageno+1 }}">
<button type="button" class="btn btn-secondary custom-button-width .navbar-right">next</button>
</a>
{% endif %}
<!-- <a href="/pages?page={{ currentpageno+1 }}"><button class="btn-secondary btn">next</button></a> -->
</div>
</div>
</div>
{% endif %}
{% endif %}

{% endblock %}
