{% extends "_base.html" %}
{% from 'main/common.html' import edit_field %}
{% block content %}

{% if combined %}
<table class="table">
  <thead>
    <tr>
    
      <th>userid</th>
      <th>username</th>
      <th>useremail</th>
      <th>total paid</th>
      <th>total amount</th>
      <th>total unpaid</th>
    </tr>
  </thead>
  <tbody>

{% for item1, item2 in combined  %}
<tr>
<th>{{ item1.id }}</th>
<th>{{ item1.name }}</th>
<th>{{ item1.email }}</th>
<th>{{ item1.summ }}</th>
<th>{{ item2.sumpoints }}</th>

<th>
{% if item2.sumpoints > 0 %}
{% if item1.summ > 0 %}
{{ item2.sumpoints - item1.summ }}
{% else %}
{{ item2.sumpoints }}
{% endif %}
{% endif %}
</th>

{% endfor %}
</tr>
</tbody>
</table>
{% endif %}

{% if current_user.admin %}
<a href="/payment?userid={{ user.id }}&payfor={{ user.id }}"><button class="btn">pay this user</button></a>
{% endif %}

<div class='edit well offset 2 span8'>
    <form method='post' class="form">
        {{ form.csrf_token }}
        <legend>Personal Details</legend>
        <fieldset class="form-group">
        {{ edit_field(form.name, class="form-control", value=user.name) }}
        </fieldset>
	<fieldset class = "form-group">
	{{ edit_field(form.phoneno, class="form-control", value=user.phoneno) }}
	</fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.city , class="form-control", value = user.city) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.country , class="form-control", value=user.country) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.profile , class="form-control", value=user.profile) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.page , class="form-control", value=user.page) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.account_holdername , class="form-control", value=user.account_holdername) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.bank_name , class="form-control", value=user.bank_name) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.account_number , class="form-control", value=user.account_number) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.swift_code , class="form-control", value=user.swift_code) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.iban_number , class="form-control", value=user.iban_number) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.ifsc_code , class="form-control", value=user.ifsc_code) }}
        </fieldset>
        <fieldset class="form-group">
        {{ edit_field(form.branch_address , class="form-control", value=user.branch_address) }}
        </fieldset>
        <p>
        <div class="form-actions">
            <button class = "btn btn-success" type="submit" class="btn">SAVE</button>
        </div>
        </p>
    </form>
</div>


{% endblock %}
