<!-- Footer -->
<div class="my_back" id="my_back">
  <div class="my_linkwrapper">
  <div class="my_onetab">
      <div class="my_intab">
        
      </div>
      <div class="my_content">
        1Technical Skills:- Installing, configuring, administering, and troubleshooting relevant application servers.- 
      </div>
    </div>  

    <div class="my_onetab">
      <div class="my_intab">
        
      </div>
      <div class="my_content">
        1Technical Skills:- Installing, configuring, administering, and troubleshooting relevant application servers.- 
      </div>
    </div>

    <div class="my_onetab">
      <div class="my_intab">
        
      </div>
      <div class="my_content">
        1Technical Skills:- Installing, configuring, administering, and troubleshooting relevant application servers.- 
      </div>
    </div>

    <div class="my_onetab">
      <div class="my_intab">
        
      </div>
      <div class="my_content">
        1Technical Skills:- Installing, configuring, administering, and troubleshooting relevant application servers.- 
      </div>
    </div>
    
  
  </div >
  <div onclick="document.getElementById('my_back').remove();" class="my_tosite">gotosite</div>
</div>
